## Arquivos de Sistemas
.DS_store

## Arquivos do Node
javascript/node_modules
buger-eats/node_modules

# Arquivos Cypress
buger-eats/cypress/videos
buger-eats/cypress/screenshots
buger-eats/cypress/downloads
